html, body {
    width: 100%;
    height: 100vh;
    overflow:hidden;
    margin: 0;
}
.wrapper {
    position: relative;
    height: 40%;
    background-color: skyblue;
    width: 100vw;
}
.cloud {
    position: absolute;
}
.cloud:nth-child(1){
    width: 300px;
    top: 0px; 
    animation: wind 60s linear infinite reverse;
}
.cloud:nth-child(2){
    width: 200px;
    opacity: 0.6;
    top:160px;
    margin-left: -135px;
    animation: wind 55s linear infinite reverse;
}
.cloud:nth-child(3){
    width: 300px;
    margin-left: 480px;
    top: 50px; 
    animation: wind 70s linear infinite reverse;
}
.cloud:nth-child(4){
    width: 300px;
    top: 0px; 
    animation: wind 60s linear infinite reverse;
}
.cloud:nth-child(5){
    width: 200px;
    opacity: 0.6;
    top:160px;
    margin-left: -135px;
    animation: wind 95s linear infinite reverse;
}
.cloud:nth-child(6){
    width: 300px;
    top: 0px; 
    animation: wind 90s linear infinite reverse;
}
.sun {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.grass{
    position: relative;
    height: 30%;
    background: seagreen;
    width: 100vw;
}
.drvo {
    width: 20vw;
    margin-left: 30px;
    margin-top: -50px;
}
.road{
    position: relative;
    height: 30vh;
    background: dimgray;
    border-bottom: 8px solid grey;
    border-top: 8px solid grey;
    box-sizing: border-box;
    width: 100vw;
}
.znak {
    position: relative;
    top:-68px;
    margin-left: 62px;
    margin-right: 132px;
}
.znakIspod{
    position: relative;
    bottom:-105px;
    margin-left: 62px;
    margin-right: 132px;
    z-index:100;
}
.lines{
    border: 5px dashed white;
    box-sizing: border-box;
    position: absolute;
    top:45%;
    width: 100vw;
    height: 8px;
}
.red {
    
    position: relative;
    animation: drive 5s infinite linear; 
}
.red1{
    position: absolute;
    top:-100px;
    left:130px;
}
.wheel2-red{
    top: -60px;
    position: relative;
    left: 142px;
    z-index: 1;
    animation: rotate 0.4s infinite linear;
    animation-fill-mode: both;
}
.wheel1-red{
    top: -60px;
    position: absolute;
    left: 258px;
    z-index: 1;
    animation: rotate 0.4s infinite linear;  
}
.redCar{
    position: relative;
    animation: drive 5s infinite linear;
} 
.redCar1 {
    position: absolute;
    top: -125px;
    left: 750px;
}
.wheel1-redCar{
    top: -89px;
    position: absolute;
    left: 873px;
    z-index: 2;
    animation: rotate 0.5s infinite linear;
}
.wheel2-redCar{
    top: -89px;
    position: absolute;
    left: 764px;
    z-index:2;
    animation: rotate 0.5s infinite linear;    
}
.bus{
    position: relative;
    animation: drive 7.5s infinite linear;  
}
.bus1{
    position: absolute;
    top:-75px;
    left: 180px; 
}
.wheel1-bus{
    top: 27px;
    position: absolute;
    left: 475px;
    z-index:3;
    animation: rotate 0.3s infinite linear;    
}
.wheel2-bus{
    top: 27px;
    position: absolute;
    left: 293px;
    z-index:3;
    animation: rotate 0.3s infinite linear;    
}

 @keyframes drive { 
    from{ transform: translateX(-600px)}
    to { transform: translateX(100vw)}
}
@keyframes rotate {
    from {transform:rotate(0deg)}
    to {transform:rotate(380deg)}
}

@keyframes wind {
    from{left:-300px}
    to {left: 100%}
}
@media only screen and (max-width:1200px){
    .znak {
        position: relative;
        top:-60px;
        margin-left: 50px;
        margin-right: 118px;
    }
    .znakIspod{
        position: relative;
        top:105px;
        margin-left: 50px;
        margin-right: 118px;
        z-index:100;
    }
}
@media only screen and (max-width:1112px){
    .znak {
        position: relative;
        top:-60px;
        margin-left: 35px;
        margin-right: 115px;
    }
    .znakIspod{
        position: relative;
        top:105px;
        margin-left: 35px;
        margin-right: 115px;
        z-index:100;
    }
}
@media only screen and (max-width:992px){
    .znak {
        position: relative;
        top:-60px;
        margin-left: 25px;
        margin-right: 103px;
    }
    .znakIspod{
        position: relative;
        top:105px;
        margin-left: 25px;
        margin-right: 103px;
        z-index:100;
    }
}
@media only screen and (max-width:860px){
    .znak {
        position: relative;
        top:-60px;
        margin-left: 25px;
        margin-right: 90px;
    }
    .znakIspod{
        position: relative;
        top:105px;
        margin-left: 25px;
        margin-right: 90px;
        z-index:100;
    }
}
@media only screen and (max-width:780px){
    .znak {
        position: relative;
        width: 1.3vw;
        top:-50px;
        margin-left: 25px;
        margin-right: 75px;
    }
    .znakIspod{
        position: relative;
        width: 1.3vw;
        top:130px;
        margin-left: 25px;
        margin-right: 75px;
        z-index:100;
    }
    .drvo{
        margin-left: 15px;
    }
}
@media only screen and (max-width:680px){
    .znak {
        position: relative;
        width: 1.25vw;
        top:-43px;
        margin-left: 28px;
        margin-right: 58px;
    }
    .znakIspod{
        position: relative;
        width: 1.25vw;
        top:146px;
        margin-left: 28px;
        margin-right: 58px;
        z-index:100;
    }
}
@media only screen and (max-width:580px){
    .znak {
        position: relative;
        width: 1.2vw;
        top:-35px;
        margin-left: 20px;
        margin-right: 50px;
    }
    .znakIspod{
        position: relative;
        width: 1.2vw;
        top:165px;
        margin-left: 20px;
        margin-right: 50px;
        z-index:100;
    }
    .drvo{
        margin-left: 15px;
        margin-top: 10px;
    }
}
@media only screen and (max-width:480px){
    .znak {
        position: relative;
        width: 1.15vw;
        top:-28px;
        margin-left: 18px;
        margin-right: 38px;
    }
    .znakIspod{
        position: relative;
        width: 1.15vw;
        top:175px;
        margin-left: 18px;
        margin-right: 38px;
        z-index:100;
    }
    .drvo{
        margin-left: 15px;
        margin-top: 15px;
    }
}
@media only screen and (max-width:390px){
    .znak {
        position: relative;
        width: 1.1vw;
        top:-22px;
        margin-left: 11px;
        margin-right: 37px;
    }
    .znakIspod{
        position: relative;
        width: 1.1vw;
        top:182px;
        margin-left: 11px;
        margin-right: 37px;
        z-index:100;
    }
    .drvo{
        margin-left: 5px;
        margin-top: 10px; 
    }
}
@media only screen and (max-width:330px){
    .znak {
        position: relative;
        width: 1vw;
        top:-17px;
        margin-left: 9px;
        margin-right: 32px;
    }
    .znakIspod{
        position: relative;
        width: 1vw;
        top:193px;
        margin-left: 9px;
        margin-right: 32px;
        z-index:100;
    }
    
    .drvo{
        margin-left: 5px;
        margin-top: 10px; 
    }
}